DaftIE/specs/v2.7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">

  <!-- boolean -->
  <xsd:simpleType name="bool">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- positive decimal numbers -->
  <xsd:simpleType name="positiveDecimal">
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- positive integer numbers -->
  <xsd:simpleType name="positiveInteger">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- property type -->
  <xsd:simpleType name="propertyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="house"/>
      <xsd:enumeration value="apartment"/>
      <xsd:enumeration value="duplex"/>
      <xsd:enumeration value="bungalow"/>
      <xsd:enumeration value="site"/>
      <xsd:enumeration value="commercial"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- house type -->
  <xsd:simpleType name="houseType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="detached"/>
      <xsd:enumeration value="semi-detached"/>
      <xsd:enumeration value="terraced"/>
      <xsd:enumeration value="end-of-terrace"/>
      <xsd:enumeration value="townhouse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- commercial type -->
  <xsd:simpleType name="commercialType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="land"/>
      <xsd:enumeration value="shop"/>
      <xsd:enumeration value="hotel"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- element 'daft' -->
  <xsd:element name="daft">
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="overseas_sales" minOccurs="0" >
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="overseas_sale_ad" type="overseasSaleAdType" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="overseas_rental" minOccurs="0" >
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="overseas_rental_ad" type="overseasRentalAdType" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:all>
      <xsd:attribute name="version" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="overseasSaleAdType">
    <xsd:sequence>
      <xsd:element name="country" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Country of property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="region" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Administrative level of country immediately below country level</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="area" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Administrative level beneath 'region'</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="address" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Address of property beneath area level</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="property_type" type="propertyType">
        <xsd:annotation>
          <xsd:documentation>Type of property.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="house_type" type="houseType">
        <xsd:annotation>
          <xsd:documentation>If property_type is 'house', there should be a complementary attribute to declare, from the following option set</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="commercial_type" type="commercialType">
        <xsd:annotation>
          <xsd:documentation>If property_type is 'commercial', there should be a complementary attribute to declare, form the following option set</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Detailed property description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="price" type="positiveInteger">
        <xsd:annotation>
          <xsd:documentation>Price of the property in euros</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="price_type">
        <xsd:annotation>
          <xsd:documentation>The price type describes the nature of the price value above. There are also a set of options for this field</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="region"/>
            <xsd:enumeration value="excess"/>
            <xsd:enumeration value="from"/>
            <xsd:enumeration value="on application"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="bathroom_number" type="positiveInteger">
        <xsd:annotation>
          <xsd:documentation>Number of bathrooms in the property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bedroom_number" type="positiveInteger">
        <xsd:annotation>
          <xsd:documentation>Number of bedrooms in the property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="is_new_development" type="bool" minOccurs="0" >
        <xsd:annotation>
          <xsd:documentation>If set to 1, the property is marked as a new development, 0 means it is a second-hand property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="units_available" type="positiveInteger" minOccurs="0" >
        <xsd:annotation>
          <xsd:documentation>If is_new_development is set, this field may specify the number of units available in the development</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="new_development_availability" type="xsd:string" minOccurs="0" >
        <xsd:annotation>
          <xsd:documentation>If is_new_development is set, this field may specify any additional feature of the development</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="square_metres" type="positiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The size of the property measured in square metres</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="acres" type="positiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The size of area of the property measured in acres</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="directions" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Directions to the property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="co2_rating" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Information about the co2 rating of the property.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="energy_rating" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Information about the energy rating of the property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="viewing_details" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Information about when and how to visit the property for a viewing</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="phone1" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Primary contact phone number of the landlord or the representing agent</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="phone2" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Secondary contact phone number of the landlord or the representing agent</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="contact_name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Name of the contact person</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="phone_info" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>State the restraints, if any, on contacting the contact person by phone</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="main_email" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Email address of the primary contact for this property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cc_email" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Secondary email address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="external_id" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Primary key / unique ID that is used to identify this property on the client's side</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="agent_id" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unique identifier for vendor of this property, supplied by Daft.ie</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="property_status">
        <xsd:annotation>
          <xsd:documentation>Current status of the property. Properties marked 'sold' will be removed from the website.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="for-sale"/>
            <xsd:enumeration value="sale-agreed"/>
            <xsd:enumeration value="sold"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="photos" type="photosType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Images associated with the property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="features" type="featuresType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Features associated with the property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pdfs" type="pdfsType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Brochures associated with the property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="overseasRentalAdType">
    <xsd:sequence>
      <xsd:element name="country" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Country of property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="region" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Administrative level of country immediately below country level</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="area" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Administrative level beneath 'region'</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="address" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Address of property beneath area level</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="property_type" type="propertyType">
        <xsd:annotation>
          <xsd:documentation>Type of property.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="house_type" type="houseType">
        <xsd:annotation>
          <xsd:documentation>If property_type is 'house', there should be a complementary attribute to declare, from the following option set</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="commercial_type" type="commercialType">
        <xsd:annotation>
          <xsd:documentation>If property_type is 'commercial', there should be a complementary attribute to declare, form the following option set</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Detailed property description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rent" type="positiveInteger">
        <xsd:annotation>
          <xsd:documentation>Rent expected on the property in euros</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rent_collection_period">
        <xsd:annotation>
          <xsd:documentation>Rent collection frequency</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="weekly"/>
            <xsd:enumeration value="monthly"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="bathroom_number" type="positiveInteger">
        <xsd:annotation>
          <xsd:documentation>Number of bathrooms in the property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bedroom_number" type="positiveInteger">
        <xsd:annotation>
          <xsd:documentation>Number of bedrooms in the property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="furnished">
        <xsd:annotation>
          <xsd:documentation>Indicates if the property is available furnished</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="furnished"/>
            <xsd:enumeration value="unfurnished"/>
            <xsd:enumeration value="either"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="cable_television" type="bool">
        <xsd:annotation>
          <xsd:documentation>Availability of cable television</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="washing_machine" type="bool">
        <xsd:annotation>
          <xsd:documentation>Availability of washing machine</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dryer" type="bool">
        <xsd:annotation>
          <xsd:documentation>Availability of tumble dryer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dishwasher" type="bool">
        <xsd:annotation>
          <xsd:documentation>Availability of dishwasher</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="microwave" type="bool">
        <xsd:annotation>
          <xsd:documentation>Availability of microwave</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="single_beds" type="positiveInteger" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Number of single bedrooms in the property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="double_beds" type="positiveInteger" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Number of double bedrooms in the property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="twin_beds" type="positiveInteger" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Number of twin bedrooms in the property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="number_people" type="positiveInteger" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Number of people that this property sleeps</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="available_from" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Date from which the property is available</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lease" type="positiveInteger" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Length of lease in months</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="phone1" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Primary contact phone number of the landlord or the representing agent</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="phone2" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Secondary contact phone number of the landlord or the representing agent</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="contact_name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Name of the contact person</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="phone_info" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>State the restraints, if any, on contacting the contact person by phone</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="main_email" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Email address of the primary contact for this property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cc_email" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Secondary email address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="external_id" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Primary key / unique ID that is used to identify this property on the client's side</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="agent_id" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unique identifier for vendor of this property, supplied by Daft.ie</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="photos" type="photosType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Images associated with the property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="features" type="featuresType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Features associated with the property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="featuresType">
    <xsd:sequence>
      <xsd:element name="feature" type="xsd:string" minOccurs="0" maxOccurs="10"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="pdfsType">
    <xsd:sequence>
      <xsd:element name="pdf" type="xsd:anyURI" minOccurs="0" maxOccurs="3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="photosType">
    <xsd:sequence>
      <xsd:element name="photo" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- element 'feedindex' -->
  <xsd:element name="feedindex">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="feed" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:all>
              <xsd:element name="loc" type="xsd:anyURI" />
              <xsd:element name="lastmod" type="xsd:dateTime" minOccurs="0" />
            </xsd:all>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>