ImmobiliareIT/src/main/schema/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema version="1.0"
           targetNamespace="http://feed.immobiliare.it"
           xmlns="http://feed.immobiliare.it"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           jxb:version="2.0"
           elementFormDefault="qualified">

    <xs:simpleType name="nullString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="nullInteger">
        <xs:union memberTypes="xs:long nullString"/>
    </xs:simpleType>

    <xs:simpleType name="dateUpdatedType">
        <xs:restriction base="xs:dateTime">
            <xs:minInclusive value="2000-12-31T00:00:00"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="emailType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[^@]+@[^\.]+\..+"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Publisher complex type -->
    <xs:complexType name="publisher">
        <xs:all>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="site" type="xs:string" minOccurs="0"/>
            <xs:element name="email" type="emailType"/>
            <xs:element name="phone" type="xs:string"/>
        </xs:all>
    </xs:complexType>

    <!-- Operation -->
    <xs:simpleType name="operation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="write"/>
            <xs:enumeration value="force"/>
            <xs:enumeration value="delete"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Sell or rental -->
    <xs:simpleType name="sellOrRent">
        <xs:restriction base="xs:string">
            <xs:pattern value="S|R"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="transactions">
        <xs:sequence>
            <xs:element name="transaction" type="transaction" minOccurs="1" maxOccurs="3"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="transaction">
        <xs:all>
            <xs:element name="price" type="priceType"/>
        </xs:all>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="auction" type="xs:boolean"/>
        <xs:attribute name="for-revenue" type="xs:boolean"/>
        <xs:attribute name="ownership" type="ownershipType"/>
    </xs:complexType>

    <xs:simpleType name="ownershipType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="intera proprietà"/>
            <xs:enumeration value="nuda proprietà"/>
            <xs:enumeration value="parziale proprietà"/>
            <xs:enumeration value="usufrutto"/>
            <xs:enumeration value="multiproprietà"/>
            <xs:enumeration value="diritto di superficie"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- category -->
    <xs:simpleType name="cat">
        <xs:restriction base="xs:string">
            <xs:pattern value="C|R|V"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- terrains -->
    <xs:complexType name="terrains">
        <xs:sequence>
            <xs:element name="terrain" type="terrainType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- breadcrumb on 3 levels (2 separators!) -->
    <xs:simpleType name="breadcrumb3">
        <xs:restriction base="xs:string">
            <xs:pattern value="([^/]+)/([^/]+)/([^/]+)"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- buildingMap (version 2.6) -->
    <xs:complexType name="buildingMap">
        <xs:attribute name="map" type="breadcrumb3"/>
    </xs:complexType>

    <!-- buildingMaps (version 2.6) -->
    <xs:complexType name="buildingMaps">
        <xs:all>
            <xs:element name="additional" type="buildingMap" minOccurs="1"/>
        </xs:all>
    </xs:complexType>

    <!-- building (version 2.6) -->
    <xs:complexType name="building">
        <xs:all>
            <xs:element name="maps" type="buildingMaps" minOccurs="0"/>
            <xs:element name="status" type="status" minOccurs="0"/>
            <xs:element name="terrains" type="terrains" minOccurs="0"/>
            <xs:element name="class" type="class" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="map" type="breadcrumb3"/>
    </xs:complexType>

    <!-- property type -->
    <xs:complexType name="proptype">
        <xs:choice>
            <xs:element name="type" type="propertyTypeSimple"/>
            <xs:sequence>
                <xs:element name="business-type" type="businessElement" minOccurs="1" maxOccurs="1"/>
                <xs:element name="terrains" type="terrains" minOccurs="0"/>
            </xs:sequence>
        </xs:choice>
    </xs:complexType>

    <!-- Year -->
    <xs:simpleType name="year">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1000"/>
            <xs:maxInclusive value="2050"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- business-type element -->
    <xs:complexType name="businessElement">
        <xs:simpleContent>
            <xs:extension base="PropertyTypeBusiness">
                <xs:attribute name="category">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Attività"></xs:enumeration>
                            <xs:enumeration value="Immobile"></xs:enumeration>
                            <xs:enumeration value="Terreno"></xs:enumeration>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- terrain element -->
    <xs:complexType name="terrainElement">
        <xs:all>
            <xs:element name="terrain" type="terrainType"/>
        </xs:all>
    </xs:complexType>

    <xs:simpleType name="terrainType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="seminativo"/>
            <xs:enumeration value="seminativo irriguo"/>
            <xs:enumeration value="seminativo arborato"/>
            <xs:enumeration value="seminativo arborato irriguo"/>
            <xs:enumeration value="prato"/>
            <xs:enumeration value="prato irriguo"/>
            <xs:enumeration value="prato arborato"/>
            <xs:enumeration value="prato a marcita"/>
            <xs:enumeration value="risaia stabile"/>
            <xs:enumeration value="pascolo"/>
            <xs:enumeration value="pascolo arborato"/>
            <xs:enumeration value="pascolo cespugliato"/>
            <xs:enumeration value="giardino"/>
            <xs:enumeration value="orto"/>
            <xs:enumeration value="orto irriguo"/>
            <xs:enumeration value="agrumeto"/>
            <xs:enumeration value="vigneto"/>
            <xs:enumeration value="uliveto"/>
            <xs:enumeration value="frutteto"/>
            <xs:enumeration value="gelseto"/>
            <xs:enumeration value="colture speciali"/>
            <xs:enumeration value="castagneto da frutto"/>
            <xs:enumeration value="canneto"/>
            <xs:enumeration value="bosco alto fusto"/>
            <xs:enumeration value="bosco ceduo"/>
            <xs:enumeration value="bosco misto"/>
            <xs:enumeration value="incolto produttivo"/>
            <xs:enumeration value="incolto sterile"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Property-type (residential or version 1.0) -->
    <xs:simpleType name="propertyTypeSimple">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Appartamento"/>
            <xs:enumeration value="Attico"/>
            <xs:enumeration value="Mansarda"/>
            <xs:enumeration value="Garage"/>
            <xs:enumeration value="Casa indipendente"/>
            <xs:enumeration value="Palazzo"/>
            <xs:enumeration value="Stabile"/>
            <xs:enumeration value="Rustico"/>
            <xs:enumeration value="Casale"/>
            <xs:enumeration value="Villa"/>
            <xs:enumeration value="Villetta a schiera"/>
            <xs:enumeration value="Loft"/>
            <xs:enumeration value="Open Space"/>
            <xs:enumeration value="Multiproprietà"/>
            <xs:enumeration value="Villetta"/>
            <xs:enumeration value="Agriturismo"/>
            <xs:enumeration value="Bed and Breakfast"/>
            <xs:enumeration value="Barca"/>
            <xs:enumeration value="Bungalow"/>
            <xs:enumeration value="Chalet"/>
            <xs:enumeration value="Baita"/>
            <xs:enumeration value="Hotel"/>
            <xs:enumeration value="Parco Vacanze"/>
            <xs:enumeration value="Residence"/>
            <xs:enumeration value="Roulotte"/>
            <xs:enumeration value="Stanza"/>
            <xs:enumeration value="Camera"/>
            <xs:enumeration value="Casa per ferie (gruppi)"/>
            <xs:enumeration value="Other"/>
            <xs:enumeration value="Altro"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- business types (version 1.1) -->
    <xs:simpleType name="PropertyTypeBusiness">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Centro commerciale"/>
            <xs:enumeration value="Azienda agricola"/>
            <xs:enumeration value="Ristorante"/>
            <xs:enumeration value="Bar"/>
            <xs:enumeration value="Pizzeria"/>
            <xs:enumeration value="Pizza Al Taglio"/>
            <xs:enumeration value="Pub"/>
            <xs:enumeration value="Alimentari"/>
            <xs:enumeration value="Rosticceria"/>
            <xs:enumeration value="Pasticceria"/>
            <xs:enumeration value="Discoteca"/>
            <xs:enumeration value="Hotel"/>
            <xs:enumeration value="Bed and Breakfast"/>
            <xs:enumeration value="Pensione"/>
            <xs:enumeration value="Gelateria"/>
            <xs:enumeration value="Panetteria"/>
            <xs:enumeration value="Altro | Alimentare"/>
            <xs:enumeration value="Negozio"/>
            <xs:enumeration value="Ferramenta"/>
            <xs:enumeration value="Casalinghi"/>
            <xs:enumeration value="Palestra"/>
            <xs:enumeration value="Abbigliamento"/>
            <xs:enumeration value="Estetica / Solarium"/>
            <xs:enumeration value="Parrucchiere uomo/donna"/>
            <xs:enumeration value="Auto officina"/>
            <xs:enumeration value="Videonoleggio"/>
            <xs:enumeration value="Tabaccheria"/>
            <xs:enumeration value="Tintoria"/>
            <xs:enumeration value="Lavanderia"/>
            <xs:enumeration value="Cartoleria"/>
            <xs:enumeration value="Libreria"/>
            <xs:enumeration value="Informatica"/>
            <xs:enumeration value="Telefonia"/>
            <xs:enumeration value="Edicola"/>
            <xs:enumeration value="Altro | Non alimentare"/>
            <xs:enumeration value="Giochi"/>
            <xs:enumeration value="Scommesse"/>
            <xs:enumeration value="Edificabile residenziale"/>
            <xs:enumeration value="Edificabile commerciale"/>
            <xs:enumeration value="Edificabile industriale"/>
            <xs:enumeration value="Agricolo"/>
            <xs:enumeration value="Capannone"/>
            <xs:enumeration value="Azienda Agricola"/>
            <xs:enumeration value="Garage"/>
            <xs:enumeration value="Negozio"/>
            <xs:enumeration value="Ufficio"/>
            <xs:enumeration value="Stabile"/>
            <xs:enumeration value="Capannone Industriale"/>
            <xs:enumeration value="Casa di cura"/>
            <xs:enumeration value="Magazzino"/>
            <xs:enumeration value="Showroom"/>
            <xs:enumeration value="Scuderia"/>
            <xs:enumeration value="Stabilimento Balneare"/>
            <xs:enumeration value="Laboratorio"/>
            <xs:enumeration value="Albergo"/>
            <xs:enumeration value="Altro"/>
            <xs:enumeration value="Agriturismo"/>
            <xs:enumeration value="Filiale bancaria"/>
            <xs:enumeration value="Consorzio agrario"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- allPropertyTypeSimple (property type del residenziale, commerciale e turistico) (versione 2.2) -->
    <xs:simpleType name="allPropertyTypeSimple">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Appartamento"/>
            <xs:enumeration value="Attico"/>
            <xs:enumeration value="Mansarda"/>
            <xs:enumeration value="Garage"/>
            <xs:enumeration value="Casa Indipendente"/>
            <xs:enumeration value="Palazzo"/>
            <xs:enumeration value="Stabile"/>
            <xs:enumeration value="Rustico"/>
            <xs:enumeration value="Casale"/>
            <xs:enumeration value="Villa"/>
            <xs:enumeration value="Villetta a schiera"/>
            <xs:enumeration value="Loft"/>
            <xs:enumeration value="Open Space"/>
            <xs:enumeration value="Multiproprietà"/>
            <xs:enumeration value="Villetta"/>
            <xs:enumeration value="Agriturismo"/>
            <xs:enumeration value="Bed and Breakfast"/>
            <xs:enumeration value="Barca"/>
            <xs:enumeration value="Bungalow"/>
            <xs:enumeration value="Chalet"/>
            <xs:enumeration value="Baita"/>
            <xs:enumeration value="Hotel"/>
            <xs:enumeration value="Parco Vacanze"/>
            <xs:enumeration value="Residence"/>
            <xs:enumeration value="Roulotte"/>
            <xs:enumeration value="Stanza"/>
            <xs:enumeration value="Camera"/>
            <xs:enumeration value="Casa per ferie (gruppi)"/>
            <xs:enumeration value="Attività"/>
            <xs:enumeration value="Terreno"/>
            <xs:enumeration value="Immobile"/>
            <xs:enumeration value="Other"/>
            <xs:enumeration value="Altro"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Status -->
    <xs:simpleType name="status">
        <xs:restriction base="xs:string">
            <xs:enumeration value="in costruzione"/>
            <xs:enumeration value="nuovo"/>
            <xs:enumeration value="abitabile"/>
            <xs:enumeration value="ottimo"/>
            <xs:enumeration value="buono"/>
            <xs:enumeration value="ristrutturato"/>
            <xs:enumeration value="da ristrutturare"/>
            <xs:enumeration value="discreto"/>
            <xs:enumeration value="nd"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- class -->
    <xs:simpleType name="class">
        <xs:restriction base="xs:string">
            <xs:enumeration value="signorile"/>
            <xs:enumeration value="medio"/>
            <xs:enumeration value="economico"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- location complextype -->
    <xs:complexType name="locationStructure">
        <xs:all>
            <xs:element name="country-code" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[a-zA-Z]{2}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="administrative-area" type="xs:string" minOccurs="0"/>
            <xs:element name="sub-administrative-area" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="code" type="xs:string" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="city">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="geo" type="xs:positiveInteger"/>
                            <xs:attribute name="code" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="locality" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="neighbourhood" minOccurs="0">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="type">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="district"/>
                                                    <xs:enumeration value="locality"/>
                                                    <xs:enumeration value="area"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="id" type="xs:positiveInteger"/>
                                        <xs:attribute name="geolocalized" type="yesonly"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="thoroughfare" minOccurs="0">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="display">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="yes|no"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="postal-code" type="xs:string" minOccurs="0"/>
                        <xs:element name="longitude" type="longitudeType" minOccurs="0"/>
                        <xs:element name="latitude" type="latitudeType" minOccurs="0"/>
                    </xs:all>
                    <xs:attribute name="map">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value="exact|near|no"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:simpleType name="sizeTypeUnit">
        <xs:restriction base="xs:string">
            <xs:pattern value="m2|sft"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- size -->
    <xs:complexType name="sizeType">
        <xs:simpleContent>
            <xs:extension base="xs:long">
                <xs:attribute name="unit" type="sizeTypeUnit"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="landSizeType">
        <xs:simpleContent>
            <xs:extension base="xs:long">
                <xs:attribute name="unit">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="m2|sft|ha"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="currency">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- price -->
    <xs:complexType name="priceType">
        <xs:simpleContent>
            <xs:extension base="xs:long">
                <xs:attribute name="currency" type="currency"/>
                <xs:attribute name="reserved" type="xs:boolean" default="false"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- text with a language -->
    <xs:complexType name="langtxt">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="language" type="nationcode"/>
                <xs:attribute name="native" type="yesonly"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- nationcode -->
    <xs:simpleType name="nationcode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="it"/>
            <xs:enumeration value="en"/>
            <xs:enumeration value="de"/>
            <xs:enumeration value="fr"/>
            <xs:enumeration value="es"/>
            <xs:enumeration value="pt"/>
            <xs:enumeration value="ru"/>
            <xs:enumeration value="gr"/>
            <xs:enumeration value="el"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="descriptionType">
        <xs:all>
            <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="content" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:all>
        <xs:attribute name="language" type="nationcode"/>
        <xs:attribute name="native" type="yesonly"/>
    </xs:complexType>

    <!-- garage -->
    <xs:complexType name="box">
        <xs:simpleContent>
            <xs:extension base="xs:int">
                <xs:attribute name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="No"/>
                            <xs:enumeration value="Box"/>
                            <xs:enumeration value="Rimessa"/>
                            <xs:enumeration value="PostoAuto"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- kitchen -->
    <xs:simpleType name="kitchen">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Abitabile"/>
            <xs:enumeration value="Semi abitabile"/>
            <xs:enumeration value="Cucinotto"/>
            <xs:enumeration value="Angolo Cottura"/>
            <xs:enumeration value="A vista"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- heating -->
    <xs:simpleType name="heat">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Assente"/>
            <xs:enumeration value="Autonomo"/>
            <xs:enumeration value="Centralizzato"/>
            <xs:enumeration value="Teleriscaldamento"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- garden -->
    <xs:simpleType name="garden">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Privato"/>
            <xs:enumeration value="Comune"/>
            <xs:enumeration value="Nessuno"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- yesonly  -->
    <xs:simpleType name="yesonly">
        <xs:restriction base="xs:string">
            <xs:pattern value="YES|yes"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- yesnoready  -->
    <xs:simpleType name="yesnoready">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Yes"/>
            <xs:enumeration value="No"/>
            <xs:enumeration value="Ready"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- floor -->
    <xs:complexType name="floor">
        <xs:simpleContent>
            <xs:extension base="nullInteger">
                <xs:attribute name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Intermedio"/>
                            <xs:enumeration value="Interrato"/>
                            <xs:enumeration value="Controterra"/>
                            <xs:enumeration value="Seminterrato"/>
                            <xs:enumeration value="PianoTerra"/>
                            <xs:enumeration value="Rialzato"/>
                            <xs:enumeration value="PianoNobile"/>
                            <xs:enumeration value="Multipiano"/>
                            <xs:enumeration value="Ultimo"/>
                            <xs:enumeration value="Attico"/>
                            <xs:enumeration value="Edificio"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- rental -->
    <xs:simpleType name="rental">
        <xs:restriction base="xs:string">
            <xs:enumeration value="3+2"/>
            <xs:enumeration value="4+4"/>
            <xs:enumeration value="6+6"/>
            <xs:enumeration value="9+9"/>
            <xs:enumeration value="Transitorio"/>
            <xs:enumeration value="Concordato"/>
            <xs:enumeration value="Libero"/>
            <xs:enumeration value="Studenti"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- furniture -->
    <xs:simpleType name="furniture">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Arredato"/>
            <xs:enumeration value="Non Arredato"/>
            <xs:enumeration value="Parzialmente Arredato"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- version -->
    <xs:simpleType name="version">
        <xs:restriction base="xs:string">
            <xs:enumeration value="2.8"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- latitude -->
    <xs:simpleType name="latitudeType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="27.2"/>
            <xs:maxInclusive value="71.1"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- longitude -->
    <xs:simpleType name="longitudeType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="-31.2"/>
            <xs:maxInclusive value="38.9"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ratioType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- projects property-type -->
    <xs:simpleType name="propertyTypeProject">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Attico"/>
            <xs:enumeration value="Appartamento"/>
            <xs:enumeration value="Negozio"/>
            <xs:enumeration value="Ufficio"/>
            <xs:enumeration value="Box Auto"/>
            <xs:enumeration value="Villa"/>
            <xs:enumeration value="Villetta"/>
            <xs:enumeration value="Capannone"/>
            <xs:enumeration value="Loft"/>
            <xs:enumeration value="Magazzino"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- project floor -->
    <xs:complexType name="floorProject">
        <xs:simpleContent>
            <xs:extension base="nullInteger">
                <xs:attribute name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Intermedio"/>
                            <xs:enumeration value="Interrato"/>
                            <xs:enumeration value="Seminterrato"/>
                            <xs:enumeration value="PianoTerra"/>
                            <xs:enumeration value="Rialzato"/>
                            <xs:enumeration value="PianoNobile"/>
                            <xs:enumeration value="Multipiano"/>
                            <xs:enumeration value="Ultimo"/>
                            <xs:enumeration value="Attico"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- project garage -->
    <xs:complexType name="boxProject">
        <xs:simpleContent>
            <xs:extension base="nullInteger">
                <xs:attribute name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="No"/>
                            <xs:enumeration value="Box"/>
                            <xs:enumeration value="PostoAuto"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- rooms -->
    <xs:complexType name="roomsType">
        <xs:simpleContent>
            <xs:extension base="xs:int">
                <xs:attribute name="literal-value" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- gender -->
    <xs:simpleType name="genderType">
        <xs:restriction base="xs:string">
            <xs:pattern value="DoesntMatter|Male|Female"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- energy-class -->
    <xs:complexType name="classEnergy">
        <xs:sequence>
            <xs:element name="energy-performance" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:double">
                            <xs:attribute name="unit" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="kWh/m2anno"/>
                                        <xs:enumeration value="kWh/m3anno"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="type" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="nren"/><!-- EP da energie non rinnovabili -->
                                        <xs:enumeration value="ren"/><!-- EP da energie rinnovabili -->
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="energy-season" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="season">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="summer"/>
                                <xs:enumeration value="winter"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="level">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="low"/>
                                <xs:enumeration value="normal"/>
                                <xs:enumeration value="high"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="zero" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="scale">
            <xs:simpleType>
                <xs:restriction base="xs:int">
                    <!-- 1= Certificazione IPE antecedente al 1 Ottobre 2015
                    2= Certificazione APE (raccomandato) -->
                    <xs:pattern value="1|2"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="value" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="A4"/>
                    <xs:enumeration value="A3"/>
                    <xs:enumeration value="A2"/>
                    <xs:enumeration value="A1"/>
                    <xs:enumeration value="A+"/>
                    <xs:enumeration value="A"/>
                    <xs:enumeration value="B"/>
                    <xs:enumeration value="C"/>
                    <xs:enumeration value="D"/>
                    <xs:enumeration value="E"/>
                    <xs:enumeration value="F"/>
                    <xs:enumeration value="G"/>
                    <xs:enumeration value="esente"/>
                    <xs:enumeration value="NC"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="certified" type="xs:boolean" default="true"/>
    </xs:complexType>

    <!-- advert-visibility -->
    <xs:simpleType name="visibility">
        <xs:restriction base="xs:string">
            <xs:enumeration value="basic"/>
            <xs:enumeration value="premium"/>
            <xs:enumeration value="top"/>
            <xs:enumeration value="showcase"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- additional-costs -->
    <xs:complexType name="additionalCostsType">
        <xs:simpleContent>
            <xs:extension base="xs:float">
                <xs:attribute name="currency" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[a-zA-Z]{3}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- begin XSD root element definition-->
    <xs:element name="feed">
        <xs:complexType>
            <xs:all>
                <xs:element name="version" type="version" minOccurs="0"/>
                <xs:element name="metadata" type="metadata" minOccurs="0" maxOccurs="1"/>
                <xs:element name="projects" type="projects" minOccurs="0" maxOccurs="1"/>
                <xs:element name="properties" type="properties" minOccurs="0" maxOccurs="1"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="metadata">
        <xs:all>
            <xs:element name="publisher" type="publisher"/>
            <xs:element name="build-date" type="xs:dateTime"/>
            <xs:element name="multipage" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="current" type="xs:int"/>
                        <xs:element name="last" type="xs:int"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="features-project">
        <xs:all>
            <xs:element name="building-status" type="xs:string" minOccurs="0"/>
            <xs:element name="start-date" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="end-date" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="specification" type="xs:string" minOccurs="0"/>
            <xs:element name="floorplanner-url" type="xs:string" minOccurs="0"/>
            <xs:element name="virtual-tour" type="xs:string" minOccurs="0"/>
            <xs:element name="descriptions" type="descriptions" minOccurs="0" maxOccurs="1"/>
            <xs:element name="energy-class" type="classEnergy" minOccurs="1"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="features-property">
        <xs:all>
            <xs:element name="rooms" type="roomsType" minOccurs="0"/>
            <xs:element name="size" type="sizeType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="sizes" type="sizes" minOccurs="0" maxOccurs="1"/>
            <!--<xs:element name="price" type="priceType" minOccurs="1" maxOccurs="1" />-->
            <xs:element name="descriptions" type="descriptions" minOccurs="0" maxOccurs="1"/>
            <xs:element name="energy-class" type="classEnergy" minOccurs="1"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="descriptions">
        <xs:sequence>
            <xs:element name="description" type="descriptionType" minOccurs="0" maxOccurs="25"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="detailedSizeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Abitazione"/>
            <xs:enumeration value="Ufficio"/>
            <xs:enumeration value="Studio"/>
            <xs:enumeration value="Negozio"/>
            <xs:enumeration value="Magazzino"/>
            <xs:enumeration value="Garage"/>
            <xs:enumeration value="Cantina"/>
            <xs:enumeration value="Soffitta"/>
            <xs:enumeration value="Balcone"/>
            <xs:enumeration value="Terrazzo"/>
            <xs:enumeration value="Giardino"/>
            <xs:enumeration value="Terreno"/>
            <xs:enumeration value="Parti comuni"/>
            <xs:enumeration value="Altro"/>
            <xs:enumeration value="Mansarda"/>
            <xs:enumeration value="Capannone"/>
            <xs:enumeration value="Laboratorio"/>
            <xs:enumeration value="Posti auto"/>
            <xs:enumeration value="Soppalco"/>
            <xs:enumeration value="Esterno"/>
            <xs:enumeration value="Parcheggio"/>
            <xs:enumeration value="Albergo/hotel"/>
            <xs:enumeration value="Posto moto"/>
            <xs:enumeration value="Posto barca"/>
            <xs:enumeration value="Posto camper o roulotte"/>
            <xs:enumeration value="Autorimessa"/>
            <xs:enumeration value="Centralina"/>
            <xs:enumeration value="Podere o tenuta"/>
            <xs:enumeration value="Filiale bancaria"/>
            <xs:enumeration value="Scuderia"/>
            <xs:enumeration value="Casa di cura"/>
            <xs:enumeration value="Stabilimento balneare"/>
            <xs:enumeration value="Azienda agricola"/>
            <xs:enumeration value="Impianti sportivi"/>
            <xs:enumeration value="Stazione di servizio"/>
            <xs:enumeration value="Autorimessa"/>
            <xs:enumeration value="Autolavaggio"/>
            <xs:enumeration value="Impianti sportivi"/>
            <xs:enumeration value="Stabilimento balneare"/>
            <xs:enumeration value="Campeggio"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="detailedSizeFloorType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Intermedio"/>
            <xs:enumeration value="Interrato"/>
            <xs:enumeration value="Seminterrato"/>
            <xs:enumeration value="PianoTerra"/>
            <xs:enumeration value="Rialzato"/>
            <xs:enumeration value="Multipiano"/>
            <xs:enumeration value="Ultimo"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="sizes">
        <xs:sequence>
            <xs:element name="size" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="detailedSizeType" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="floor" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:int">
                                        <xs:attribute name="type" type="detailedSizeFloorType" use="optional"
                                                      default="Intermedio"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="surface" type="xs:int" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="weight" type="ratioType" minOccurs="1" maxOccurs="1"/>
                    </xs:sequence>
                    <xs:attribute name="main" type="xs:boolean"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="unit" type="sizeTypeUnit" use="required"/>
    </xs:complexType>

    <xs:complexType name="projects">
        <xs:sequence>
            <xs:element ref="project" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="properties">
        <xs:sequence>
            <xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="contact">
        <xs:all>
            <xs:element name="firstname" type="xs:string" minOccurs="0"/>
            <xs:element name="surname" type="xs:string" minOccurs="0"/>
            <xs:element name="phone" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="agent">
        <xs:all>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="office-name" type="xs:string" minOccurs="0"/>
            <xs:element name="email" type="emailType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="phone" type="xs:string" minOccurs="0"/>
            <xs:element name="mobile-phone" type="xs:string" minOccurs="0"/>
            <xs:element name="description" type="langtxt" minOccurs="0"/>
            <xs:element name="vat" type="xs:string" minOccurs="0"/>
            <xs:element name="web" type="xs:string" minOccurs="0"/>
            <xs:element name="builder" type="xs:boolean" minOccurs="0"/>
            <xs:element name="contact" type="contact" minOccurs="0"/>
            <xs:element name="location" type="locationStructure" minOccurs="0"/>
            <xs:element name="logo" type="xs:string" minOccurs="0"/>
            <xs:element name="sales-office" type="sales-office" minOccurs="0" maxOccurs="1"/>
        </xs:all>
        <xs:attribute name="id" type="xs:long"/>
    </xs:complexType>

    <xs:complexType name="sales-office">
        <xs:all>
            <xs:element name="country-code" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[a-zA-Z]{2}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="administrative-area" type="xs:string" minOccurs="0"/>
            <xs:element name="sub-administrative-area" type="xs:string" minOccurs="0"/>
            <xs:element name="city" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="code" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="locality">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="thoroughfare" type="xs:string" minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="phone" type="xs:string" minOccurs="0"/>
            <xs:element name="mobile" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="lots">
        <xs:sequence>
            <xs:element name="residential" type="xs:long"/>
            <xs:element name="commercial" type="xs:long"/>
            <xs:element name="lot" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:all>
                        <!--  <xs:element name="unique-id" type="xs:string" /> -->
                        <xs:element name="unique-id" type="xs:string" minOccurs="0">
                            <xs:unique name="lot-unique-id">
                                <xs:selector xpath="lots/lot"/>
                                <xs:field xpath="unique-id"/>
                            </xs:unique>
                        </xs:element>
                        <xs:element name="property-type" type="propertyTypeProject"/>
                        <xs:element name="price" type="priceType"/>
                        <xs:element name="size" type="sizeType"/>
                        <xs:element name="rooms" type="roomsType" minOccurs="0"/>
                        <xs:element name="bathrooms" type="roomsType" minOccurs="0"/>
                        <xs:element name="floor" type="floorProject" minOccurs="0"/>
                        <xs:element name="garage" type="boxProject" minOccurs="0"/>
                        <xs:element name="description" type="langtxt" minOccurs="0"/>
                        <xs:element name="specification" type="xs:string" minOccurs="0"/>
                        <xs:element name="pictures" type="pictures" minOccurs="0"/>
                    </xs:all>
                    <xs:attribute name="total" type="nullInteger"/>
                    <xs:attribute name="forsale" type="nullInteger"/>
                    <xs:attribute name="ID" type="xs:long"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="processable" abstract="true">
        <xs:sequence>
            <xs:element name="unique-id" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="published-on" type="dateUpdatedType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="date-updated" type="dateUpdatedType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="agent" type="agent" minOccurs="1" maxOccurs="1"/>
            <xs:element name="location" type="locationStructure" minOccurs="1" maxOccurs="1"/>
            <xs:element name="pictures" type="pictures" minOccurs="0" maxOccurs="1"/>
            <xs:element name="videos" type="videos" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="operation" type="operation"/>
        <xs:attribute name="ID" type="xs:long"/>
    </xs:complexType>

    <xs:element name="project">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="processable">
                    <xs:sequence>
                        <xs:element name="features" type="features-project" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="lots" type="lots" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="property">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="processable">
                    <xs:sequence>
                        <xs:element name="date-expiration" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                                <xs:union memberTypes="xs:dateTime nullString"/>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="transactions" type="transactions"/>
                        <xs:element name="building" type="building" minOccurs="1" maxOccurs="1"/>
                        <!--<xs:element name="category" type="cat" minOccurs="0" maxOccurs="1" />-->
                        <!--<xs:element name="property-type" type="proptype" minOccurs="0" maxOccurs="1" />-->
                        <xs:element name="features" type="features-property" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="extra-features" type="extra-features" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="extended" type="extended" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="auction-features" type="auction-features" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="documents" type="documents" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="blueprints" type="blueprints" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="blueprints">
        <xs:sequence>
            <xs:element name="blueprint" type="picture" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="extra-features">
        <xs:all>
            <xs:element name="bedrooms" type="xs:int" minOccurs="0"/>
            <xs:element name="bathrooms" type="roomsType" minOccurs="0"/>
            <xs:element name="garage" minOccurs="0" type="box"/>
            <xs:element name="kitchen" minOccurs="0" type="kitchen"/>
            <xs:element name="ambience" type="ambience" minOccurs="0" maxOccurs="1"/>
            <xs:element name="garden" minOccurs="0" type="garden"/>
            <xs:element name="terrace" minOccurs="0" type="xs:boolean"/>
            <xs:element name="balcony" minOccurs="0" type="xs:boolean"/>
            <xs:element name="elevator" minOccurs="0" type="xs:boolean"/>
            <xs:element name="floor" minOccurs="0" type="floor"/>
            <xs:element name="num-floors" type="xs:int" minOccurs="0"/>
            <xs:element name="for-revenue" minOccurs="0" type="xs:boolean"/>
            <xs:element name="available-now" minOccurs="0" type="xs:boolean"/>
            <xs:element name="virtual-tour" type="xs:string" minOccurs="0"/>
            <xs:element name="rent-contract" minOccurs="0" type="rental"/>
            <xs:element name="additional-costs" minOccurs="0" type="additionalCostsType"/>
            <xs:element name="furniture" minOccurs="0" type="furniture"/>
            <xs:element name="security-alarm" minOccurs="0" type="xs:boolean"/>
            <xs:element name="reception" minOccurs="0" type="xs:boolean"/>
            <xs:element name="net" minOccurs="0" type="xs:boolean"/>
            <xs:element name="external-area" minOccurs="0" type="landSizeType"/>
            <xs:element name="build-year" minOccurs="0" type="year"/>
            <xs:element name="free-conditions" minOccurs="0" type="xs:string"/>
            <xs:element name="overhead-crane" minOccurs="0" type="yesnoready"/>
            <xs:element name="beam-height" minOccurs="0" type="xs:int"/>
            <xs:element name="office-size" minOccurs="0" type="sizeType"/>
            <xs:element name="floorplanner-url" minOccurs="0" type="xs:string"/>
            <xs:element name="doc-specification" minOccurs="0" type="xs:string"/>
            <xs:element name="doc-description" minOccurs="0" type="xs:string"/>
            <xs:element name="available-date" minOccurs="0" type="xs:dateTime"/>
            <xs:element name="minimum-stay" minOccurs="0" type="xs:int"/>
            <xs:element name="bills-included" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="powerline" minOccurs="0" type="xs:boolean"/>
                        <xs:element name="gas" minOccurs="0" type="xs:boolean"/>
                        <xs:element name="phone" minOccurs="0" type="xs:boolean"/>
                        <xs:element name="internet" minOccurs="0" type="xs:boolean"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="costs" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="services" minOccurs="0" type="priceType"/>
                        <xs:element name="other" minOccurs="0" type="priceType"/>
                        <xs:element name="deposit" minOccurs="0" type="priceType"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="flatmate" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="gender" minOccurs="0" type="genderType"/>
                        <xs:element name="couples" minOccurs="0" type="xs:boolean"/>
                        <xs:element name="smoker" minOccurs="0" type="xs:boolean"/>
                        <xs:element name="pets" minOccurs="0" type="xs:boolean"/>
                        <xs:element name="age" minOccurs="0">
                            <xs:complexType>
                                <xs:attribute name="from" type="xs:int"/>
                                <xs:attribute name="to" type="xs:int"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="registry">
        <xs:all>
            <xs:element name="income">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:double">
                            <xs:attribute name="currency" type="currency"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="class">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="A/1"/>
                    <xs:enumeration value="A/2"/>
                    <xs:enumeration value="A/3"/>
                    <xs:enumeration value="A/4"/>
                    <xs:enumeration value="A/5"/>
                    <xs:enumeration value="A/6"/>
                    <xs:enumeration value="A/7"/>
                    <xs:enumeration value="A/8"/>
                    <xs:enumeration value="A/9"/>
                    <xs:enumeration value="A/10"/>
                    <xs:enumeration value="A/11"/>
                    <xs:enumeration value="B/1"/>
                    <xs:enumeration value="B/2"/>
                    <xs:enumeration value="B/3"/>
                    <xs:enumeration value="B/4"/>
                    <xs:enumeration value="B/5"/>
                    <xs:enumeration value="B/6"/>
                    <xs:enumeration value="B/7"/>
                    <xs:enumeration value="B/8"/>
                    <xs:enumeration value="C/1"/>
                    <xs:enumeration value="C/2"/>
                    <xs:enumeration value="C/3"/>
                    <xs:enumeration value="C/4"/>
                    <xs:enumeration value="C/5"/>
                    <xs:enumeration value="C/6"/>
                    <xs:enumeration value="C/7"/>
                    <xs:enumeration value="D/1"/>
                    <xs:enumeration value="D/2"/>
                    <xs:enumeration value="D/3"/>
                    <xs:enumeration value="D/4"/>
                    <xs:enumeration value="D/5"/>
                    <xs:enumeration value="D/6"/>
                    <xs:enumeration value="D/7"/>
                    <xs:enumeration value="D/8"/>
                    <xs:enumeration value="D/9"/>
                    <xs:enumeration value="D/10"/>
                    <xs:enumeration value="D/11"/>
                    <xs:enumeration value="D/12"/>
                    <xs:enumeration value="E/1"/>
                    <xs:enumeration value="E/2"/>
                    <xs:enumeration value="E/3"/>
                    <xs:enumeration value="E/4"/>
                    <xs:enumeration value="E/5"/>
                    <xs:enumeration value="E/6"/>
                    <xs:enumeration value="E/7"/>
                    <xs:enumeration value="E/8"/>
                    <xs:enumeration value="E/9"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ambience">
        <xs:all>
            <xs:element name="heating" type="heating" minOccurs="0" maxOccurs="1"/>
            <xs:element name="air-conditioning" type="air-conditioning" minOccurs="0" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="heating">
        <xs:all>
            <xs:element name="system">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="A radiatori"/>
                        <xs:enumeration value="A pavimento"/>
                        <xs:enumeration value="Ad aria"/>
                        <xs:enumeration value="A stufa"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="source">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Gas"/>
                        <xs:enumeration value="Metano"/>
                        <xs:enumeration value="GPL"/>
                        <xs:enumeration value="Gasolio"/>
                        <xs:enumeration value="Pellet"/>
                        <xs:enumeration value="Legna"/>
                        <xs:enumeration value="Solare"/>
                        <xs:enumeration value="Fotovoltaico"/>
                        <xs:enumeration value="Teleriscaldamento"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:all>
        <xs:attribute name="type" type="heat"/>
    </xs:complexType>

    <xs:complexType name="air-conditioning">
        <xs:all>
            <xs:element name="effect">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Freddo"/>
                        <xs:enumeration value="Caldo"/>
                        <xs:enumeration value="Freddo/Caldo"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:all>
        <xs:attribute name="type">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Autonomo"/>
                    <xs:enumeration value="Centralizzato"/>
                    <xs:enumeration value="Predisposizione impianto"/>
                    <xs:enumeration value="Assente"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="videos">
        <xs:sequence>
            <xs:element name="video" type="video" minOccurs="1" maxOccurs="5"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="video">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="local"/>
                            <xs:enumeration value="remote"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="auction-features">
        <xs:sequence>
            <xs:element name="auctions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="auction" type="auction" minOccurs="1" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="starting-price" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:long">
                            <xs:attribute name="currency" type="currency" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="minimum-bid" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:int">
                            <xs:attribute name="currency" type="currency" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="success-price" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:long">
                            <xs:attribute name="currency" type="currency" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="court" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="court"/>
                                        <xs:enumeration value="other"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="reference" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="year" type="xs:int"/>
                            <xs:attribute name="number" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="actors" type="actors" minOccurs="0" maxOccurs="1"/>
            <xs:element name="notes" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="type">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Esecuzione immobiliare"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="auction">
        <xs:simpleContent>
            <xs:extension base="xs:dateTime">
                <xs:attribute name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="con incanto"/>
                            <xs:enumeration value="senza incanto"/>
                            <xs:enumeration value="a mezzo commissionario"/>
                            <xs:enumeration value="vendita al dettaglio"/>
                            <xs:enumeration value="vendita online"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="actors">
        <xs:sequence>
            <xs:element name="actor" type="auctionActorType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="auctionActorType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="phone" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="email" type="emailType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="fax" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="type" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="giudice"/>
                    <xs:enumeration value="delegato"/>
                    <xs:enumeration value="custode"/>
                    <xs:enumeration value="creditore"/>
                    <xs:enumeration value="richiedente"/>
                    <xs:enumeration value="referente"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="documents">
        <xs:sequence>
            <xs:element name="document" type="document" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="document">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="position" type="xs:int"/>
                <xs:attribute name="mimetype" type="xs:string"/>
                <xs:attribute name="url" type="xs:anyURI"/>
                <xs:attribute name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="ordinanza di vendita"/>
                            <xs:enumeration value="avviso di vendita"/>
                            <xs:enumeration value="planimetria"/>
                            <xs:enumeration value="perizia"/>
                            <xs:enumeration value="modalità di partecipazione"/>
                            <xs:enumeration value="altro-asta"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="pictures">
        <xs:sequence>
            <xs:element name="picture" type="picture" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="picture">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="position" type="xs:int"/>
                <xs:attribute name="url" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="extended">
        <xs:all>
            <xs:element name="amount-parking" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="amount-bedrooms" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="amount-lounge" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="amount-other-rooms" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="amount-terrace" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="amount-balcony" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="inner-exposition" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="outer-exposition" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="entrance" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="closet" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="basement" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="penthouse" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tavern" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="fireplace" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="security-door" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tub" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="security-alarm" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="swimming-pool" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tennis" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="electric-gate" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="optical-fiber" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="concierge" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="video-intercom" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="external-frames">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="nd"/>
                        <xs:enumeration value="glass/wood"/>
                        <xs:enumeration value="glass/metal"/>
                        <xs:enumeration value="double glass/wood"/>
                        <xs:enumeration value="double glass/metal"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="tv">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="nd"/>
                        <xs:enumeration value="centralized"/>
                        <xs:enumeration value="private"/>
                        <xs:enumeration value="satellite"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="registry" type="registry" minOccurs="0" maxOccurs="1"/>
            <xs:element name="sharable" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>

</xs:schema>